.Shamun{
    height: 400px;
    width: 400px;
    border: 5px solid rgb(247, 157, 12);
    margin: 75px;
    padding-bottom: 50px;
  
}

.Shamun .Suhaila{
    height: 300px;
    width: 300px;
    border: 5px solid rgb(117, 75, 7);
    margin: 65px;
    padding-top: 15px;
 

}

.Shamun .Suhaila .Suheil{
    height: 200px;
    width: 200px;
    border: 5px solid rgb(24, 15, 2);
    margin: 45px;
  
}

h1{
    /* text-align: center; */
    margin: 78px;
    margin-left: 67px;
   
}

.Shamun{
    margin-left: 35%;
}